
.item_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background: rgba(231, 229, 229, 0.7);
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;

  input, .delete {
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
    transform-origin: top left;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
  .pagination{
    button{
      padding: 8px;
      margin: 2px;
    }
  }


}
